.cart__main {
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-wrap: wrap;
  vertical-align: top;
  margin: 0px auto 26px;
  padding-top: 40px;
}

.main__row {
  font-size: 0;
  margin-left: -8px;
  margin-right: -8px;
}

@media only screen and (min-width: 1024px) {
  .css-bizkwr {
    display: none;
  }
}

.css-bizkwr {
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}

.full__width {
  width: 100%;
}

.cart__div {
  max-width: 1100px;
  padding-top: 8px;
}

@media only screen and (min-width: 1024px) {
  .div__title {
    display: block;
  }
}

.div__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  position: relative;
  right: 7px;
  top: -3px;
}

#summary__description {
  position: relative;
  left: 12px;
  bottom: 1px;
}

.summary__left {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  right: 7px;
  top: 3px;
}

.summary__right {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  right: 17px;
  top: 3px;
  text-align: end;
}

.estimate_left {
  top: -1px !important;
}
.estimate_right {
  top: -1px !important;
}

.summary__hr {
  display: block;
  border-width: 0px 0px 1px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-bottom-style: solid;
  border-bottom-color: rgb(229, 229, 229);
  margin-block: 0px;

  position: relative;
  left: -6px;
  margin-right: 10px;
  margin-top: 1px;
}

.total__left {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  right: 7px;
  top: 16px;
}

.total__right {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  right: 17px;
  top: 16px;
  text-align: end;
}

.button__div {
  display: block;
  position: relative;
  padding-top: 33px;
  padding-bottom: 20px;
  margin: 0px;
  left: -11px;
  box-shadow: none;
}

.button__row {
  padding-left: 8px;
  padding-right: 10px;
}

.checkOut__buttons {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-bottom: 12px;
  width: 100%;
  padding: 18px 24px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.paypal__button {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 24px 24px;
  border-radius: 30px;
  box-shadow: rgb(229 229 229) 0px 1px 0px 0px inset,
    rgb(229 229 229) -1px 0px 0px 0px inset,
    rgb(229 229 229) 0px -1px 0px 0px inset,
    rgb(229 229 229) 1px 0px 0px 0px inset;
  background: rgb(245, 245, 245);
  border: none;
}

.paypal__img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1.7px;
}

.product__main__div {
  box-shadow: rgb(229 229 229) 0px 0px 0px 0px inset,
    rgb(229 229 229) 0px 0px 0px 0px inset,
    rgb(229 229 229) 0px -1px 0px 0px inset,
    rgb(229 229 229) 0px 0px 0px 0px inset;
  padding: 13px 8px;
  padding-bottom: 11px;
  width: 100%;
}
.product__sub__div {
  display: table;
  position: relative;
  width: 100%;
}

.product__Thumbnail {
  width: 165px;
  padding-right: 15px;
  display: table-cell;
  vertical-align: top;
}

.product__image {
  width: 100%;
  background: rgb(245, 245, 245);
}

.product__detail {
  position: relative;
  display: block;
  vertical-align: top;
  min-height: 123px;
  left: 15px;
  top: 2px;
}

.product__name {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.shoes__description {
  color: rgb(117, 117, 117);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 1.8rem;
  position: relative;
  top: -14px;
}

.drop__down__div {
  display: table;
}

.first__cell {
  display: table-cell;
  position: relative;
  bottom: 12px;
}
.dropdown__label {
  color: rgb(117, 117, 117);
  font-size: 16px;
}

.drop__down {
  position: relative;
  background: rgb(255, 255, 255);
  display: inline-block;
  min-width: 52px;
  vertical-align: bottom;
  overflow: hidden;
  z-index: 0;
}

.drop__down--icon {
  font-family: "nike-glyphs";
  display: inline-block;
  font-size: 16px;
  line-height: inherit;
  vertical-align: top;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 12px;
  padding-right: 12px;
  position: absolute;
  right: -8px;
  text-align: right;
  color: rgb(117, 117, 117);
  z-index: -1;
  top: -2px;
}

.drop__down--icon::before {
  content: "";
}
.drop__down__select {
  padding-left: 10px;
  height: 100%;
  width: 100%;
  padding-right: 32px;
  min-height: inherit;
  font-size: 14px;
  color: rgb(117, 117, 117);
  background: none;
  border: 0px;
  border-radius: 2px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

.product__link {
  text-decoration: none !important;
  color: #111 !important;
  cursor: pointer !important;
}

.drop__div {
  position: relative;
  background: rgb(255, 255, 255);
  display: inline-block;
  min-width: 52px;
  vertical-align: bottom;
  overflow: hidden;
  z-index: 0;
  bottom: 9px;
}

.button__div__under__product {
  margin-top: 10px;
  padding: 1px;
}

.button__list {
  margin-right: 16px;
  display: inline-block;
}

.list__button {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background: 0px 0px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  box-shadow: 0px -1px 0px 0px inset;
  line-height: 1.5;
  padding: 0px 0px;
  color: rgb(117, 117, 117);
  outline: 0;
  border: none;
}

.button__ul {
  list-style: none;
  font-size: 16px;
  padding-left: 14px;
}

.singlePrice {
  text-align: right;
}

.price {
  color: rgb(17, 17, 17);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  position: relative;
  left: 91px;
}

.know__more {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  left: 8px;
  bottom: 2px;
}
.question {
  font-family: nike-glyphs;
  display: inline-block;
  vertical-align: top;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.question::before {
  content: "";
}

.details {
  margin-bottom: 16px;
}

.details__div {
  padding-top: 55px;
  margin-bottom: 12px;
  max-width: 1100px;
  margin-left: -22px;
}

.fav {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 24px;
}

.Join__link {
  color: rgb(88, 88, 88);
  box-shadow: 0px -1px 0px 0px inset;
}

.para__div {
  font-size: 16px;
  margin-top: -6px;
}

.no__item {
  margin-left: -22px;
  margin-top: -9px;
}

.button___disable {
  background: rgb(245, 245, 245);
  color: rgb(204, 204, 204);
  cursor: default;
}
