.item {
  display: inline-block;
  flex-direction: column;
  position: relative;
  margin-left: 1.5%;
  /* margin-left: 4%; */
  /* padding-left: 3%; */
  width: 29.6%;
  left: 2.6%;
}

.item__image {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 25rem;
  /* max-height: 770pc; */
  transition: opacity 0.35s ease-out;
  transition-property: opacity;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.item__image:hover {
  opacity: 0.8;
}

.item__description {
  display: flex;
  flex-direction: column;

  margin-right: 14px;
  margin-top: 14px;
}

.item__title {
  display: flex;
  font-weight: 500;
  margin-bottom: 0.1%;
  margin-left: 0.1%;
  justify-content: space-between;
  top: -1px;
}

.item__text {
  opacity: 0.5;
  text-align: left;
  position: relative;
  bottom: 2px;
}

.item__price {
  margin-right: 1.1%;
}

@media only screen and (max-width: 450px) {
  .item {
    margin-left: 2.8%;

    width: 82.6%;
    left: 2.8%;
    top: 0px;
  }

  .item__image {
    width: 101%;
    height: auto;
  }
}
