.news__NavBar {
  margin-top: 4px;
}

.News__Header_p {
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  margin-right: 3px;
  margin-top: 3px;
}

a {
  color: black;
  cursor: pointer;
  font-weight: 500;
}
.News__Header_p--active-span {
  display: flow-root;
  font-size: 12px;
  line-height: 2;
  margin-right: 0px;
  margin-top: -4px;
}

.NewsHeader__span {
  margin-left: 0px;
  font-size: 14.06px;
  position: relative;
  bottom: 3px;
}
